<div id="nav" class="sticky">
    <nav class="navbar navbar-dark bg-inverse">
        <div class="container nav navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" class="active" href="/data">View Data</a>
            <a class="nav-item nav-link" href="/about">About</a>
        </div>
    </nav>
</div>

<div class="container" id="content" style="min-height:150vh">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dapibus ex a libero sollicitudin posuere. Ut rutrum massa quis nibh gravida, vitae tristique massa sollicitudin. Integer vestibulum enim eros, id rutrum turpis gravida non. Nullam porta ultrices diam eu molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum quis tincidunt dui. Nulla non diam a orci imperdiet consectetur nec at tellus. Quisque sed mauris in nibh molestie scelerisque euismod nec ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus sagittis purus sed fringilla. Etiam bibendum diam leo, ut ultricies nibh placerat in. Curabitur varius ultrices mi ac efficitur. Vivamus nec auctor ex. Vivamus scelerisque volutpat porta.
<br>
<br>
Aenean non lectus et justo maximus efficitur ut commodo sem. Maecenas auctor enim ligula, vitae porta dolor dignissim ut. Mauris a tristique mauris. Phasellus ullamcorper nisi et sodales dapibus. Proin venenatis egestas bibendum. Curabitur elementum metus nec enim tincidunt, a faucibus nisl ultricies. Quisque rutrum vitae leo non iaculis.
<br>
<br>
Nam bibendum congue congue. Praesent interdum facilisis nisi ac commodo. Cras euismod auctor purus, et fermentum diam condimentum vitae. Morbi erat metus, bibendum quis risus eget, congue bibendum leo. Mauris lacinia pulvinar viverra. Donec vitae magna porta, accumsan enim in, tincidunt felis. Vivamus in mi vitae ante tincidunt tincidunt sed id neque. Pellentesque id tortor aliquet, pellentesque ante non, tempor erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer eget ligula ante. Ut convallis dolor augue, et viverra nibh tempus quis.
<br>
<br>
<br>
<br>
<br>
Nam in iaculis libero. Duis eleifend, est blandit accumsan dictum, leo lectus dignissim libero, at aliquam ex erat sit amet nisl. Nullam venenatis massa eget convallis cursus. Maecenas posuere consequat porttitor. Duis dapibus enim eu sagittis pulvinar. Suspendisse blandit dignissim nisi, non feugiat mauris blandit ut. Maecenas ullamcorper, neque pulvinar condimentum euismod, magna felis suscipit tortor, et sagittis nulla eros ornare purus. Integer volutpat purus dui, eget rhoncus nulla finibus ut. Mauris ut nunc quis augue congue eleifend at sed arcu. Aliquam vulputate et tortor nec scelerisque. Vivamus quis iaculis risus.
</p>
</div>