<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>WVU PRT Status{{if .Title}} - {{.Title}}{{end}}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href='/css/stylesheet.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>

    <header>
        <div class="jumbotron text-xs-center">
            <div class="container" id="hero">
                <h1 class="display-3 hidden-sm-down">WVU PRT Status</h1>
                <h1 class="display-5 hidden-md-up">WVU PRT Status</h1>
                <p>proud to provide to
                    <a href="https://www.wvu.edu"><img src="img/wvu-white.png" height="28px"></a>
                </p>
                <p style="font-size:75%">Currently available on <a href="#android" style="color:#A4C739">Android</a>&#0153; and <a href="#glass" style="color:lightgrey">Google Glass</a>&#0153;</p>
            </div>
        </div>
    </header>

    {{ yield }}

    <footer>
        <!-- Blue & Old Gold stripes -->
        <span class="col-md-3 col-xs-3"></span><span class="col-md-3 col-xs-3"></span><span class="col-md-3 col-xs-3"></span><span class="col-md-3 col-xs-3"></span>
        <div class="container">
            <span>Made by the hands of a proud Mountaineer, in Morgantown, WV.</span>
            <span><a href="http://austindizzy.me" style="color:inherit;">2014 &copy; Austin Dizzy</a></span>
            <span><span style="font-family:'aruallight';display:inline-block;">GLASS</span> "Glass" is a trademark of Google Inc.</span>
        </div>
    </footer>
    <!--
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-48544540-1', 'austindizzy.me');
	ga('require', 'displayfeatures');
	ga('send', 'pageview');
    </script>-->
    <script src="/js/fixedsticky.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="//cdn.rawgit.com/wilddeer/stickyfill/master/dist/stickyfill.min.js"></script>
    <script type="text/javascript">
        $('.sticky').Stickyfill();
    </script>
</body>

</html>